.mainVisual {
  background-image: url("../../../../../public/images/bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  padding-right: 50px;
  color: var(--thirdColor);
}
.mainVisual .row {
  text-shadow: 1px 2px 3px var(--secondColor);
}
.mainVisual .heading h1 {
  color: var(--thirdColor);
  white-space: break-spaces;
  text-wrap: balance;
}
.mainVisual .heading h3 {
  color: var(--thirdColor);
}
.mainVisual .heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .mainVisual {
    background-position: center;
    padding-top: 15%;
  }
  .mainVisual .row {
    width: 100%;
  }
  .mainVisual .heading h1 {
    font-size: 32px;
  }
  .mainVisual .heading h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 429px) {
  .mainVisual {
    padding-top: 5%;
    height: 100vh;
  }
  .mainVisual .heading h1 {
    font-size: 24px;
  }
  .mainVisual .heading h3 {
    font-size: 14px;
  }
}
